.formWrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 100%;
    justify-content: center;


    .form {
        width: 400px;
        border: none;

        fieldset {
            border: none;
        }

        label {
            text-transform: uppercase;
            font-weight: 500;
            letter-spacing: 2px;
            font-size: 15px;
            color: #000c;
        }

        #ul {
            margin-bottom: 1rem;
        }

        input {
            width: 100%;
            height: 40px;
            border-radius: 5px;
            border: solid 1px #ccc;
            background-color: transparent;
            outline: none;
            font-size: 18px;
            font-weight: 500;
            color: #686868c0;
            margin: 1rem 0;
            padding: 1rem;
        }

        input::-webkit-outer-spin-button,
        input::-webkit-inner-spin-button {
            /* display: none; <- Crashes Chrome on hover */
            -webkit-appearance: none;
            margin: 0;
            /* <-- Apparently some margin are still there even though it's hidden */
        }

        input[type=number] {
            -moz-appearance: textfield;
            /* Firefox */
        }

        .dateCvc {

            display: flex;
            flex-direction: row;
            justify-content: space-around;
            margin-bottom: 1.5rem;

            .data {
                width: 100%;

                .dataDado {
                    display: flex;
                    flex-direction: row;
                    width: 100%;
                    padding-right: 1rem;
                    gap: 1rem;
                }
            }
        }

        button {
            background-image: url('/src/assets/bg-main-mobile.png');
            width: 100%;
            height: 50px;
            border-radius: 10px;
            border: none;
            font-size: 18px;
            font-family: 600;
            color: var(--whitebg);
        }
    }
}