@import url('https://fonts.googleapis.com/css2?family=Space+Grotesk:wght@300;400;500&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Space Grotesk', sans-serif;
    
}

:root {
  --whitebg:rgb(246, 248, 255);
  --light-grayish-violet: hsl(270, 3%, 87%);
  --dark-grayish-violet: hsl(279, 6%, 55%);
  --very-dark-violet: hsl(278, 68%, 11%);
  --linear-gradient-active-input-border: linear-gradient(hsl(249, 99%, 64%), hsl(278, 94%, 30%));
  --red-input-errors: hsl(0, 100%, 66%);
  --font-size: 18px;
  --white-font: #fff;
}
